<div class="container border border-dark-subtle rounded-4 mt-4 p-0">
  <div class="sidebar">
    <div class="chat-header p-3">
      <ng-container *ngIf="!selectedGroup; else groupNameTemplate">
        ChitChatHub
      </ng-container>
      <ng-template #groupNameTemplate>
        <div (click)="goBackToGroups()">
          <i class="fa-solid fa-circle-chevron-left"></i>
         <span class="selected-group-header">{{ selectedGroup?.groupName }}</span>
        </div>
      </ng-template>
    </div>

    <div *ngIf="!selectedGroup">
      <div
        *ngFor="let group of groups"
        (click)="selectGroup(group)"
        class="border-bottom p-3 group-list"
      >
        {{ group.groupName }}
      </div>
    </div>

    <div *ngIf="selectedGroup">
      <div
        *ngFor="let chatList of selectedGroup.chats"
        class="border-bottom p-3 group-list"
        (click)="selectChat(chatList)"
      >
        {{ chatList.chat }}
      </div>
    </div>
  </div>

  <div class="chat-details bg-warning-subtle d-flex flex-column h-100">
    <div *ngIf="selectedChat" class="flex-grow-1 d-flex flex-column">
      <div class="chat-name border-bottom bg-warning bg-gradient">
        <p class="m-3">{{ selectedChat.chat }}</p>
      </div>

      <div *ngFor="let message of messages" class="message p-2">
        <strong>{{ message.sender }}:</strong> {{ message.content }} ({{
          message.timestamp | date : "HH:mm"
        }})
      </div>

      <div class="flex-grow-1"></div>

      <div class="message-input">
        <div class="form-outline d-flex" data-mdb-input-init>
          <textarea
            [(ngModel)]="newMessage"
            class="form-control col-3"
            id="messageArea"
            rows="2"
          ></textarea>
          <button type="button" class="btn btn-success" (click)="sendMessage()">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
