.container {
  display: flex;
  height: 70vh;
  width: 70%;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.chat-header {
  border-bottom: 1px solid gray;
  font-size: 1.2rem;
  color: coral;
  font-weight: 600;
  & :hover {
    cursor: pointer;
  }
}

.sidebar {
  width: 30%;
  border-right: 1px solid #ccc;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.selected-group-header {
  margin-left: 0.3rem;
  text-decoration: underline;
}

.group-list {
  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}

.chat-details {
  flex-grow: 1;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.chat-name {
  font-size: 1.3rem;
  padding: 0.25rem;
  border-top-right-radius: 1rem;
}

.message-input {
  margin: 0 auto;
  & textarea {
    width: 100%;
  }
  & button {
    color: white;
  }
}
