<div class="container">
  <div class="sidebar">
    <div *ngIf="!selectedGroup">
      <div *ngFor="let group of groups" (click)="selectGroup(group)">
        {{ group.groupName }}
      </div>
    </div>

    <div *ngIf="selectedGroup">
      <div
        *ngFor="let chatList of selectedGroup.chats"
        (click)="selectChat(chatList)"
      >
        {{ chatList.chat }}
      </div>
    </div>
  </div>

  <div class="chat-details bg-warning-subtle">
    <div *ngIf="selectedChat">
      <p>{{ selectedChat.chat }}</p>
    </div>
  </div>
</div>
