.container {
  display: flex;
  height: 70vh;
  width: 70%;
}

.chat-header {
  border-bottom: 1px solid gray;
  font-size: 1.6rem;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #ccc;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.chat-details {
  flex-grow: 1;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.chat-name {
  font-size: 1.3rem;
  padding: 0.25rem;
  border-top-right-radius: 1rem;
}
